.mainSec {
    color: black;
    width: 90%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* padding: 2rem; */
    border-radius: 10px;
    transition: 0.5s all ease-in;

}

.inBoxSec {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    /* height: 35rem; */
}

#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;

    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;

    touch-action: none;
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

.boxDrop{
    border: 1px solid black;
    width: 75rem;
    height: 15rem;
    display: flex;
    text-align: start;
    align-items: start;
    /* flex-direction: column; */
    justify-content: space-around;
    /* align-items: center; */
}

.qui{
    height: 5rem !important;

}

.dragBox {
    display: flex;
}

.dargElement{
    width: 20rem;
    background-color: #f7ebd3;
    border: 0.5px solid black;
    padding: 1rem;
}