body {
    transition: 0.5s all ease-in;
}

.Section {
    color: black;
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 2rem; */
    border-radius: 10px;
    transition: 0.5s all ease-in;
}

.Direction {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
}

dialog[open] {
    animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.5),
        rgba(54, 54, 54, 0.5)
    );
    backdrop-filter: blur(3px);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cardd {
    margin-top: 2rem;
}

.like {
    width: 9rem;
    display: flex;
    justify-content: space-around;
}

/* .cardd:first-child .carddMain{
    height: 70rem;
} */

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itemNavOne {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #192335;
}

.itemNavOne h3 {
    color: #aeaebd;
    font-size: 18px !important;
}

.itemNavTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #2f57ef, #b966ef, #b966ef, #2f57ef);
    height: 9rem;
}

.itemNavTwo a {
    padding: 10px;
    border-radius: 5px;
    width: 20px;
    height: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.navItems,
.topBoxNav {
    display: flex;
    justify-content: space-between;
}

.title {
    color: white;
    font-size: 45px !important;
    display: block !important;
}
.boxLinks {
    width: 90%;
}

.navItems {
    margin-top: 1rem;
}

.iconOn {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer {
    font-size: 20px !important;
}

.modal-content {
    background-color: white;
}

.highBtn {
    background-color: rgb(236, 236, 52) !important;
}

.modarSearch {
    background: rgb(47, 87, 239);
    background: linear-gradient(
        146deg,
        rgba(47, 87, 239, 1) 23%,
        rgba(185, 102, 239, 1) 36%,
        rgba(185, 102, 239, 1) 53%,
        rgba(47, 87, 239, 1) 67%,
        rgba(239, 47, 67, 1) 96%
    );
}
.inSearch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(70, 0, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.5rem;
}

.centerModalSearch {
    display: flex;
    justify-content: space-between;
}

.btnModalSearch {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    border: 1px white solid;
    transition: 0.1s all ease-in;
}

.btnModalSearch:hover {
    border: 1px solid rgba(239, 47, 67, 1) ;
    color :rgba(239, 47, 67, 1)
}

.inBox input {
    width: 12rem;
    height: 3rem;
    border-radius: 7px;
    text-indent: 30px;
    font-size: 14px;
}
.inpBox input:focus {
    outline: none !important;

}

